 <ul class="list-group">
      <li class="list-group-item list-group-item-info"><a href="{% url 'user_panel_main_page' %}">داشبورد</a></li>
      <li class="list-group-item list-group-item-info"><a href="{% url 'edit_profile_page' %}">ویرایش اطلاعات کاربری</a></li>
      <li class="list-group-item list-group-item-info"><a href="{% url 'change_password_page' %}">تغییر کلمه عبور</a></li>
      <li class="list-group-item list-group-item-info"><a href="{% url 'book_marks_page' %}">نشان شده ها</a></li>
 </ul>