{% extends 'shared/layout.html' %}
{% block title %}ممنونیم!{% endblock %}
{% block content %}
   <section class="about_section layout_padding" style="direction: rtl">
    <div class="container ">
      <div class="row">
          <div class="col-md-6">
          <div class="img-box">
            <img src="/static/images/thankyou.jpg" alt="not found">
          </div>
        </div>
        <div class="col-md-6">
          <div class="detail-box">
              <div style="direction: rtl">
                <p style="font-weight: bold">
                    از اینکه وقت گذاشتی و واسمون نظرت رو فرستادی، ممنونیم!
                    <br>
                    تمام تلاش تیم ما اینه که شما رضایت داشته باشید :))
                    <br>
                    <h2>
                  رویا بوک
              </h2>
                  </p>
              </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}